html {
  box-sizing: border-box;
  margin: 32px;
  background-color: #1b1b1b;
  color: #FFFFFF;
}

a:link, a:visited {
color: #3babff;
}

a:hover {
  text-decoration: none;
}

footer {
  box-sizing: border-box;
  padding: 16px 0;
}

header a:link, header a:visited{
  text-decoration: none;
  color: #ffffff;
}